@function r($px){
    @return $px/18.75 * 1rem;
}

.r-tabs{
	.r-tabs-nav-nail{
		display: flex;
		justify-content: space-between;
		font-size: r(13);
		background: #fff;
		border: 1px solid #4080E8;
		border-radius: 6px;
		.r-tab-nav{
			padding: r(8) 0;
			color: #4080E8;
			border-right: 1px solid #4080E8;
			flex: 1;
			text-align: center;
			&-active{
				color: #fff;
				background: #4080E8;
			}
			&:first-child{
				border-radius: 4px 0 0 4px;
			}
			&:last-child{
				border-right: none;
				border-radius: 0 4px 4px 0;
			}
		}
	}
	.r-tabs-nav-line{
			display: flex;
			justify-content: space-between;
			font-size: r(13);
			//border-bottom: 1px solid #d5d5dd;
			background-image: -webkit-linear-gradient(to top, #d5d5dd 1px, rgba(24, 24, 24, 0) 1px);
			background-image: linear-gradient(to top, #d5d5dd 1px, rgba(24, 24, 24, 0) 1px);
			.r-tab-nav{
				flex: 1;
				padding: r(8) 0;
				color: #666;
				text-align: center;
				&-active{
					color: #4080e8;
					border-bottom: 1px solid #4080E8;
				}
			}
	}
	.r-tabs-nav-card{
			text-align: left;
			font-size: r(13);
			.r-tab-nav{
				display: inline-block;
				padding: r(8);
				color: #666;
				border: 1px solid #d5d5dd;
				border-bottom: none;
				margin-left: r(5);
				&:first-child{
					margin-left: 0;
				}
				&-active{
					color: #4080e8;
					border: 1px solid #4080E8;
					border-bottom: none;
					background: #fff;
				}
				
			}
	}
	.r-tabs-content{
		background: #fff;
	}
}