@font-face {/*为了性能，只加载ttf格式字体文件*/
  font-family: 'rong-iconfont';
  src: url('./fonts/rong-iconfont.ttf?hn9g7o') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

[class^="r-iconfont-"], [class*=" r-iconfont-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rong-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.r-iconfont-info-up:before {
  content: "\e901";
}
/*
.r-iconfont-smile .path1:before {
  content: "\e90e";
}
.r-iconfont-smile .path2:before {
  content: "\e90f";
  margin-left: -1em;
}
.r-iconfont-smile .path3:before {
  content: "\e910";
  margin-left: -1em;
}
*/
.r-iconfont-sort-dec-blue .path1:before {
  content: "\e911";
}
.r-iconfont-sort-dec-blue .path2:before {
  content: "\e912";
  margin-left: -1.5em;
}
.r-iconfont-sort-inc-blue .path1:before {
  content: "\e913";
}
.r-iconfont-sort-inc-blue .path2:before {
  content: "\e914";
  margin-left: -1.5em;
}
.r-iconfont-delete:before {
  content: "\e915";
}
.r-iconfont-edit:before {
  content: "\e916";
}
.r-iconfont-ask:before {
  content: "\e917";
}
.r-iconfont-note .path1:before {
  content: "\e919";
}
.r-iconfont-note .path2:before {
  content: "\e91a";
  margin-left: -1.5em;
}
.r-iconfont-home:before {
  content: "\e91b";
}
.r-iconfont-sort-dec-red .path1:before {
  content: "\e91c";
}
.r-iconfont-sort-dec-red .path2:before {
  content: "\e91d";
  margin-left: -1.5em;
}
.r-iconfont-sort-inc-red .path1:before {
  content: "\e91e";
}
.r-iconfont-sort-inc-red .path2:before {
  content: "\e91f";
  margin-left: -1.5em;
}
.r-iconfont-check-circled-empty:before {
  content: "\e920";
}
.r-iconfont-contact:before {
  content: "\e921";
}
.r-iconfont-close-circled-empty:before {
  content: "\e922";
}
.r-iconfont-clear:before {
  content: "\e90d";
}
.r-iconfont-check:before {
  content: "\e90a";
}
.r-iconfont-inform:before {
  content: "\e900";
}
.r-iconfont-check-circled:before {
  content: "\e902";
}
.r-iconfont-addrlist:before {
  content: "\e903";
}
.r-iconfont-arrow-right:before {
  content: "\e904";
}
.r-iconfont-arrow-left:before {
  display: inline-block;
  content: "\e904";
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.r-iconfont-arrow-up:before {
  display: inline-block;
  content: "\e904";
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.r-iconfont-arrow-down:before {
  display: inline-block;
  content: "\e904";
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.r-iconfont-info:before {
  content: "\e905";
}
.r-iconfont-close-circled:before {
  content: "\e906";
}
.r-iconfont-close:before {
  content: "\e907";
}
.r-iconfont-info-neg:before {
  content: "\e908";
}
.r-iconfont-info-pos:before {
  content: "\e909";
}
.r-iconfont-triangle-down:before {
  content: "\e90b";
}
.r-iconfont-return:before {
  content: "\e90c";
}
