@function r($px){
    @return $px/18.75 * 1rem;
}
.r-select{
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	color: #333;
	font-size: r(14);
	.r-select-txt-wrap{
		height: r(45);
		display: -webkit-box;
		display: box;
		-webkit-box-align: center;
		box-align: center;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		margin-left: r(15);
		padding-right: r(15);
		position: relative;
		.r-select-label{
			padding-right: r(20);
			-webkit-box-flex: 1;
			display: inline-block;
			text-align: left;
			&>*{
				display: inline-block;
				vertical-align: middle;
			}
			span:nth-child(2){
				padding-left: r(3);
			}
		}
		.r-select-input{
			-webkit-box-flex: 1;
			margin-right: r(7);
			&.ta-left{
				text-align: left;
			}
			&.ta-right{
				text-align: right;
			}
			&.c-grey{
				color: #c8c7cc;
			}
		}
		.r-iconfont-arrow-right{
			display: block;
		}
		&:after{
			position: absolute;
			left: -50%;
			bottom: 0;
			width: 200%;
			height: 1px;
			background: #D8D9DC;
			content: " ";  
			-webkit-transform: scale(0.5); 
		    transform: scale(0.5);
		    // margin-left: r(15);
		}
	}
    .r-select-children{
    	margin-left: r(10);
    }
}
/*修改oicker默认样式*/
.picker .picker-panel .picker-choose{
	font-size: r(16);
	color: #333;
	height: r(45);
	border-bottom: 1px solid #efeff4;
}
.picker .picker-panel .picker-choose .picker-title{
	line-height: r(45);
	font-size: r(18);
}
.picker .picker-panel .picker-choose .cancel, .picker .picker-panel .picker-choose .confirm{
	top: 0;
	line-height: r(45);
	padding: 0 0 0 r(15);
}
.picker .picker-panel .picker-choose .confirm{
	padding: 0 r(15) 0 0;
	color: #4080e8;
}
.picker .picker-panel .wheel-wrapper .wheel{
	font-size: r(16);
}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll{
	line-height: r(35);
}
.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll .wheel-item{
	height: r(35);
}