/* rong-button by chenchen01*/
@function r($px){
    $rem:18.75;
    @return $px/$rem * 1rem;
}

.r-radio-group{
    display: inline-block;
    font-size: r(12);

    .r-radio-wrapper {
        font-size: r(12);
        vertical-align: middle;
        display: inline-block;
        position: relative;
        white-space: nowrap;
        margin-right: r(8);
        cursor: pointer;

        // 正常状态
        .r-radio{
            display: inline-block;
            margin-right: r(4);
            white-space: nowrap;
            outline: 0;
            position: relative;
            line-height: 1;
            vertical-align: middle;
            cursor: pointer;
            .r-radio-inner{
                display: inline-block;
                width: r(10);
                height: r(10);
                position: relative;
                top: 0;
                left: 0;
                background-color: #fff;
                border: 1px solid #dddee1;
                box-sizing: border-box;
                border-radius: 50%;
                transition: all .2s ease-in-out;


                
            }
            .r-radio-input{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                opacity: 0;
                cursor: pointer;
            }
            .r-radio-inner:after {
                position: absolute;
                width: r(10);
                height: r(10);
                border-radius: r(6);
                display: table;
                border-top: 0;
                border-left: 0;
                content: " ";
                opacity: 0;
                transition: all .2s ease-in-out;
                transform: scale(0)
            }
            
            
        }

        // 选中样式
        .r-radio-checked{
            .r-radio-inner {
                border: none;
                background-image: url(../../assets/icon_tongyi.png);
                background-size: 100% 100%;
                
            }
            .r-radio-inner:after {
                opacity: 1;
                transform: scale(1);
                transition: all .2s ease-in-out;
            }
        }


       
    }
}