@function r($px){
    @return $px/18.75 * 1rem;
}
.r-input{
	position: relative;
	overflow: hidden;
	background: #fff;
	width: 100%;
	color: #333;
	font-size: r(14);
	&:after{
		content: " "; 
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background: url(https://static.rong360.com/upload/png/4d/c6/4dc66b7e1c82485898d4319e749ad969.png) repeat-x; 
		background-size: contain;
		margin-left: r(15);
	}
	&.r-border--off{
		&:after{
			display: none;
		}
	}
	.r-txt-wrap{
		height: r(45);
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin: 0 r(15);
		.r-input-label{
			padding-right: r(20);
			//flex: 1;
			display: inline-block;
			text-align: left;
			flex-shrink: 0;
			span:nth-child(2){
				padding-left: r(3);
			}
		}
		.input-wrap{
			flex: 1;
			display: flex;
			align-items: center;
			justify-content: space-around;			
			input{
				display: block;
				flex: 1;
				outline: none;
				border: none;
				height: r(25);
				line-height: r(25);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: r(14);
				color: #333;
				caret-color: #4080e8;
			}
			.ta-left{ text-align: left;}
			.ta-right{ text-align: right;}
			input[disabled]{
				color: #999;
			}
			input::-webkit-input-placeholder{
				color: #C8C7CC;
			}
			span.r-iconfont-close-circled{
				display: block;
				width: r(15);
				height: r(15);
				margin-left: r(7);
			}
		}	
		.r-input-unit{
			margin-left: r(7);
		}
	}
    .r-iconfont-close-circled:before {
	  color: #d0d0d3;
	}
}