@function r($px){
    @return $px/18.75 * 1rem;
}
.r-upload{
	.r-upload-input-wrap{
		display: flex;
		align-items: center;
	}
	.r-uptxt{
		flex: 1;
		font-size: r(14);
		color: #333;
	}
	input{
		display: none;
	}
}