@function r($px){
	@return $px/18.75 * 1rem;
}
.r-keyboard{
	.r-keyboard-content{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 999;
		width: 100%;
		height: r(260);
		user-select: none;
		visibility: visible;
		transform: translate3d(0, 0, 0);
		transition-property: transform visibility;
		transition-duration: .3s;
		border-top: 1px solid #D8D9DC;
		background: #D8D9DC;
		&-hidden{
			visibility: hidden;
		    transform: translate3d(0, 100%, 0);
		}
		.r-keyboard-head{
			display: flex;
			border-bottom: 1px solid #D8D9DC;
			background: #fff;
			.title{
				flex: 1;
				text-align: center;
				line-height: r(44);
				height: r(44);
				font-size: r(13);
				text-overflow:ellipsis;
				white-space: nowrap;
			}
			.confirm,
			.cancel{
				display: inline-block;
				padding: 0 r(15);
				line-height: r(44);
				height: r(44);
				color: #4080E8;
				font-size: r(16);
			}
			.cancel{
				visibility: hidden; //取消按钮纯属占位，不用显示
			}
		}
		.r-keyboard-row{
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			height: r(216/4);
			border-bottom: 1px solid #D8D9DC;
		    box-sizing: content-box;
	    	color: #000;
			font-size: r(29);
			background: #fff;
			&>div{
				width: 33.33333%;
				height: r(216/4);
				line-height: r(216/4);
				border-right: 1px solid #D8D9DC;
        text-align: center;
        position: relative;
				&:nth-child(3){
					border-right: none;
				}
				&[active=true]{
					background: #F3F4F7;
        }
        .mask{
          position: absolute;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
        }
			}
			.d{
				background: #D1D4DB;
				font-size: 1rem;
				&[active=true]{
					background: #fff;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
		.r-iconfont-clear:before{
			color: #000;
		}
	}

}
